## Chapter 1. Introduction to Python and programming

### Prerequisites
There are not prerequistes for this chapter. However, it is recommended that you have some basic knowledge of programming. If you are new to programming, you can start with the [Python tutorial](https://docs.python.org/3/tutorial/index.html) and the [Python documentation](https://docs.python.org/3/).

### Objective
The main goal of this chapter is to prepare the student for further studies in the fiel of cryptography. For this, we will introduce the student to the Python programming language and the basic concepts of programming.

### Why cryptography?
Cryptography is a very important field of computer science. It is used in many applications, such as secure communication, secure storage, secure transactions, etc. In this course, we will focus on the mathematical foundations of cryptography. However, we will also see some applications of cryptography in the real world.

### Why Python?
Python is a very popular programming language. It is used in many applications, such as web development, data science, machine learning, etc. In this course, we will use Python to implement some cryptographic algorithms. However, we will also see some applications of Python in the real world.

### Working with Jupyter notebooks in Google Colab
Google Colab is a free cloud-based service that allows you to run and share Jupyter notebooks. Here's how to get started:
1. Go to [Google Colab](https://colab.research.google.com/) and sign in with your Google account.
2. Click on "New Notebook" to create a new notebook.
3. You can choose between and blank notebook or a pre-existing one from Google or GitHub.
4. Once you've created a notebook, you can start writing and running Python code. Google Colab provides a Python environment, including support for popular libraries like NumPy, Pandas, Sympy, Matplotlib, etc.
5. To run a cell in your notebook, click on it and then click on the "Play" button in the toolbar above. Alternatively, you can press Ctrl+Enter to run the cell.
6. You can also run all the cells in your notebook by clicking on "Runtime" in the toolbar above and then clicking on "Run all".
7. You can add new cells by clicking on the "+" button at the top of the page, or by pressing Ctrl+M, then B.
8. You can change the type of a cell by clicking on the dropdown menu at the top of the page, or by pressing Ctrl+M, then M.
9. Google Colab also allows you to upload and download files, connect to Google Drive, and use GPUs and TPUs for faster computation.
10. You can find more information about Google Colab [here](https://colab.research.google.com/notebooks/basic_features_overview.ipynb).

This is a Jupyter notebook. You can find more information about Jupyter notebooks [here](https://jupyter.org/). That's it! With Google Colab, you can easily run and share Jupyter notebooks. You can also run Jupyter notebooks locally on your computer. To do so, you need to install Jupyter on your computer. You can find more information about Jupyter [here](https://jupyter.org/).

### Variables and data types
Python supports several built-in data types, including:
* Numbers (integers, floating-point numbers, complex numbers)
* Strings
* Boolean (True, False)
* Lists
* Tuples
* Sets
* Dictionaries

Let's explore some of these data types in more detail.
* Numbers: As mentioned earlier, Python supports integers, floating-point numbers, and complex numbers. You can use mathematical operators like +, -, *, /, //, %, **, etc. to perform arithmetic operations on numbers. You can also use the built-in functions `int()`, `float()`, and `complex()` to convert between different data types. For example:

In [9]:
2 + 3

5

In [10]:
2 - 3

-1

In [11]:
2 * 3

6

In [12]:
2 / 3

0.6666666666666666

In [13]:
2 / 3

0.6666666666666666

In [14]:
2 // 3

0

In [15]:
2 % 3

2

In [16]:
int(2.5)

2

In [17]:
float(2)

2.0

In [18]:
complex(2)

(2+0j)

* Strings: Strings are sequences of characters. You can use the built-in function `str()` to convert between different data types. For example:

In [19]:
'Hello World'

'Hello World'

In [20]:
str(123)

'123'

* Boolean: Boolean values are either True or False. You can use the built-in function `bool()` to convert between different data types. For example:

In [21]:
True

True

In [22]:
False

False

In [23]:
bool(0)

False

In [24]:
bool(1)

True

In [25]:
bool(2)

True

In [26]:
bool(-1)

True

In [27]:
bool(0.0)

False

In [28]:
bool(0.1)

True

In [29]:
bool(-0.1)

True

In [30]:
bool('')

False

In [31]:
bool('Hello World')

True

In [32]:
bool([])

False

In [33]:
bool([1, 2, 3])

True

In [34]:
bool(())

False

In [35]:
bool((1, 2, 3))

True

In [36]:
bool({})

False

In [37]:
bool({'a': 1, 'b': 2})

True

In [38]:
type(True)

bool

In [39]:
type(False)

bool

* Lists: Lists are mutable sequences of objects. You can use the built-in function `list()` to convert between different data types. For example:

In [40]:
[1, 2, 3]

[1, 2, 3]

In [41]:
list('Hello World')

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [42]:
list((1, 2, 3))

[1, 2, 3]

In [43]:
list({1, 2, 3})

[1, 2, 3]

In [44]:
list({'a': 1, 'b': 2})

['a', 'b']

* Tuples: Tuples are immutable sequences of objects. You can use the built-in function `tuple()` to convert between different data types. For example:

In [45]:
(1, 2, 3)

(1, 2, 3)

In [46]:
tuple('Hello World')

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [47]:
tuple('Hello World')

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [48]:
tuple([1, 2, 3])

(1, 2, 3)

In [49]:
tuple({1, 2, 3})

(1, 2, 3)

In [50]:
tuple({'a': 1, 'b': 2})

('a', 'b')

* Sets: Sets are unordered collections of unique objects. You can use the built-in function `set()` to convert between different data types. For example:

In [51]:
{1, 2, 3}

{1, 2, 3}

In [52]:
set('Hello World')

{' ', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [53]:
set([1, 2, 3])

{1, 2, 3}

In [54]:
set((1, 2, 3))

{1, 2, 3}

In [55]:
set({'a': 1, 'b': 2})

{'a', 'b'}

* Dictionary: Dictionaries are unordered collections of key-value pairs. You can use the built-in function `dict()` to convert between different data types. For example:

In [56]:
{'a': 1, 'b': 2}

{'a': 1, 'b': 2}

In [57]:
dict([('a', 1), ('b', 2)])

{'a': 1, 'b': 2}

In [58]:
dict([['a', 1], ['b', 2]])

{'a': 1, 'b': 2}

In [59]:
dict(a=1, b=2)

{'a': 1, 'b': 2}

In [60]:
dict(zip(['a', 'b'], [1, 2]))

{'a': 1, 'b': 2}

That's it! You've learned about the basic data types in Python. You can find more information about Python data types [here](https://docs.python.org/3/library/stdtypes.html).

### Operators
Python supports several built-in operators, including:
* Arithmetic operators: +, -, *, /, //, %, **, etc.
* Comparison operators: ==, !=, <, >, <=, >=, etc.
* Assignment operators: =, +=, -=, *=, /=, //=, %=, **=, etc.
* Logical operators: and, or, not
* Bitwise operators: &, |, ^, ~, <<, >>

Let's explore some of these operators in more detail.

#### Arithmetic operators
You can use arithmetic operators to perform arithmetic operations on numbers. Here are the most commonly used arithmetic operators in Python:
    * Addition: The addition operator `+` adds two or more numbers together. For example, `2 + 3` returns `5`.
    * Subtraction: The subtraction operator `-` subtracts two or more numbers. For example, `5 - 3` returns `2`.
    * Multiplication: The multiplication operator `*` multiplies two or more numbers. For example, `2 * 3` returns `6`.
    * Division: The division operator `/` divides two or more numbers. For example, `5 / 2` returns `2.5`.
    * Floor division: The floor division operator `//` divides two or more numbers and returns the floor of the result. For example, `5 // 2` returns `2`.
    * Modulus: The modulus operator `%` returns the remainder of the division of two numbers. For example, `5 % 2` returns `1`.
    * Exponentiation: The exponentiation operator `**` raises one number to the power of another. For example, `2 ** 3` returns `8`.

Here's an example code snippet that demonstrates the use of these arithmetic operators in Python:

In [61]:
# Arithmetic Operators

a = 5
b = 3

print('addition:', a + b)
print('subtraction:', a - b)
print('multiplication:', a * b)
print('division:', a / b)
print('floor division:', a // b)
print('modulus:', a % b)
print('exponent:', a ** b)

addition: 8
subtraction: 2
multiplication: 15
division: 1.6666666666666667
floor division: 1
modulus: 2
exponent: 125

That's it! You've learned about the most commonly used arithmetic operators in Python. You can find more information about Python arithmetic operators [here](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex).

#### Comparison operators

You can use comparison operators to compare two values. Here are the most commonly used comparison operators in Python:
    * Equal to: The equal to operator `==` returns True if two values are equal, and False otherwise. For example, `2 == 3` returns `False`.
    * Not equal to: The not equal to operator `!=` returns True if two values are not equal, and False otherwise. For example, `2 != 3` returns `True`.
    * Less than: The less than operator `<` returns True if the first value is less than the second value, and False otherwise. For example, `2 < 3` returns `True`.
    * Greater than: The greater than operator `>` returns True if the first value is greater than the second value, and False otherwise. For example, `2 > 3` returns `False`.
    * Less than or equal to: The less than or equal to operator `<=` returns True if the first value is less than or equal to the second value, and False otherwise. For example, `2 <= 3` returns `True`.
    * Greater than or equal to: The greater than or equal to operator `>=` returns True if the first value is greater than or equal to the second value, and False otherwise. For example, `2 >= 3` returns `False`.

Here's an example code snippet that demonstrates the use of these comparison operators in Python:

In [62]:
# Comparison Operators

a = 2
b = 3
print('a == b:', a == b)
print('a != b:', a != b)
print('a < b:', a < b)
print('a > b:', a > b)
print('a <= b:', a <= b)
print('a >= b:', a >= b)

a == b: False
a != b: True
a < b: True
a > b: False
a <= b: True
a >= b: False

That's it! You've learned about the most commonly used comparison operators in Python. You can find more information about Python comparison operators [here](https://docs.python.org/3/library/stdtypes.html#comparisons).

#### Assignment operators

You can use assignment operators to assign values to variables. Here are the most commonly used assignment operators in Python:
    * Assignment: The assignment operator `=` assigns a value to a variable. For example, `x = 5` assigns the value `5` to the variable `x`.
    * Addition assignment: The addition assignment operator `+=` adds a value to a variable and assigns the result to the variable. For example, `x += 5` adds `5` to the variable `x` and assigns the result to `x`.
    * Subtraction assignment: The subtraction assignment operator `-=` subtracts a value from a variable and assigns the result to the variable. For example, `x -= 5` subtracts `5` from the variable `x` and assigns the result to `x`.
    * Multiplication assignment: The multiplication assignment operator `*=` multiplies a variable by a value and assigns the result to the variable. For example, `x *= 5` multiplies the variable `x` by `5` and assigns the result to `x`.
    * Division assignment: The division assignment operator `/=` divides a variable by a value and assigns the result to the variable. For example, `x /= 5` divides the variable `x` by `5` and assigns the result to `x`.
    * Floor division assignment: The floor division assignment operator `//=` divides a variable by a value and assigns the floor of the result to the variable. For example, `x //= 5` divides the variable `x` by `5` and assigns the floor of the result to `x`.
    * Modulus assignment: The modulus assignment operator `%=` divides a variable by a value and assigns the remainder of the result to the variable. For example, `x %= 5` divides the variable `x` by `5` and assigns the remainder of the result to `x`.
    * Exponentiation assignment: The exponentiation assignment operator `**=` raises a variable to the power of a value and assigns the result to the variable. For example, `x **= 5` raises the variable `x` to the power of `5` and assigns the result to `x`.

Here's an example code snippet that demonstrates the use of these assignment operators in Python:

In [63]:
## Assigment Operators

a = 2
a += 3
print('a += 3:', a)

a = 2
a -= 3
print('a -= 3:', a)

a = 2
a *= 3
print('a *= 3:', a)

a = 2
a /= 3
print('a /= 3:', a)

a = 2
a //= 3
print('a //= 3:', a)

a = 2
a %= 3
print('a %= 3:', a)

a = 2
a **= 3
print('a **= 3:', a)

a = 2
a &= 3
print('a &= 3:', a)

a = 2
a |= 3
print('a |= 3:', a)

a = 2
a ^= 3
print('a ^= 3:', a)

a = 2
a >>= 3
print('a >>= 3:', a)

a = 2
a <<= 3
print('a <<= 3:', a)

a += 3: 5
a -= 3: -1
a *= 3: 6
a /= 3: 0.6666666666666666
a //= 3: 0
a %= 3: 2
a **= 3: 8
a &= 3: 2
a |= 3: 3
a ^= 3: 1
a >>= 3: 0
a <<= 3: 16

#### Logical operators

You can use logical operators to combine conditional statements. Here are the most commonly used logical operators in Python:
    * And: The and operator `and` returns True if both statements are True, and False otherwise. For example, `2 < 3 and 3 < 4` returns `True`.
    * Or: The or operator `or` returns True if either statement is True, and False otherwise. For example, `2 < 3 or 3 > 4` returns `True`.
    * Not: The not operator `not` returns the opposite of the statement. For example, `not 2 < 3` returns `False`.

Here's an example code snippet that demonstrates the use of these logical operators in Python:

In [64]:
# Logical Operators

a = True
b = False

print('a and b:', a and b)
print('a or b:', a or b)
print('not a:', not a)

a and b: False
a or b: True
not a: False

 #### Bitwise operators

You can use bitwise operators to perform bitwise operations on numbers. Here are the most commonly used bitwise operators in Python:
    * Bitwise AND: The bitwise AND operator `&` returns the bitwise AND of two numbers. For example, `2 & 3` returns `2`.
    * Bitwise OR: The bitwise OR operator `|` returns the bitwise OR of two numbers. For example, `2 | 3` returns `3`.
    * Bitwise XOR: The bitwise XOR operator `^` returns the bitwise XOR of two numbers. For example, `2 ^ 3` returns `1`.
    * Bitwise NOT: The bitwise NOT operator `~` returns the bitwise NOT of a number. For example, `~2` returns `-3`.
    * Bitwise left shift: The bitwise left shift operator `<<` returns the bitwise left shift of a number. For example, `2 << 3` returns `16`.
    * Bitwise right shift: The bitwise right shift operator `>>` returns the bitwise right shift of a number. For example, `2 >> 3` returns `0`.

Here's an example code snippet that demonstrates the use of these bitwise operators in Python:

In [65]:
# Bitwise Operators

a = 2
b = 3

print('a & b:', a & b)
print('a | b:', a | b)
print('a ^ b:', a ^ b)
print('~a:', ~a)
print('a << 1:', a << 1)
print('a >> 1:', a >> 1)

a & b: 2
a | b: 3
a ^ b: 1
~a: -3
a << 1: 4
a >> 1: 1

### Operator precedence

Operator precedence determines the order in which operators are evaluated. For example, the expression `2 + 3 * 4` is evaluated as `(2 + 3) * 4` because the multiplication operator has a higher precedence than the addition operator. You can find a list of all Python operators and their precedence [here](https://docs.python.org/3/reference/expressions.html#operator-precedence).

### Operator Overloading

Operator overloading is a special feature in Python that allows you to use operators with user-defined classes. For example, you can use the addition operator `+` to add two objects of a user-defined class. You can find more information about operator overloading in Python [here](https://www.geeksforgeeks.org/operator-overloading-in-python/).

Here's an example code snippet that demonstrates the use of operator overloading in Python:

In [68]:
# Operator Overloading

a = 2
b = 3
print('a + b:', a + b)
print('a.__add__(b):', a.__add__(b))

a = 'Hello'
b = 'World'
print('a + b:', a + b)
print('a.__add__(b):', a.__add__(b))

a = [1, 2, 3]
b = [4, 5, 6]
print('a + b:', a + b)
print('a.__add__(b):', a.__add__(b))

a = (1, 2, 3)
b = (4, 5, 6)
print('a + b:', a + b)
print('a.__add__(b):', a.__add__(b))

a + b: 5
a.__add__(b): 5
a + b: HelloWorld
a.__add__(b): HelloWorld
a + b: [1, 2, 3, 4, 5, 6]
a.__add__(b): [1, 2, 3, 4, 5, 6]
a + b: (1, 2, 3, 4, 5, 6)
a.__add__(b): (1, 2, 3, 4, 5, 6)

### Objects vs. Types vs. Values

Python is a so-called **object-oriented** language, wich is a paradigm of organizing a program's memory.

An **object** may be viewed as a "bag" of 0 and 1 in a given memory location. The 0's and 1's in a bag make up the object's **value**. There exist different **types** of bags, and each type comes with its own set of rules for how to interpret the 0's and 1's in the bag. For example, a bag of 0's and 1's that represents a number is of type `int`, and a bag of 0's and 1's that represents a string is of type `str`.

So, an object _always_ has three main characteristics:
    * A **type** (e.g. `int`, `str`, `list`, etc.)
    * A **value** (e.g. `5`, `"Hello"`, `[1, 2, 3]`, etc.)
    * A **memory location** (e.g. `0x7f9c8c0a8a90`)

#### Identity / Memory Location

The built-in function `id()` returns object's address in memory. For example:

In [74]:
# Identity / Memory Location

a = 2
b = 2

print(id(a))
print(id(b))

4311523120
4311523120

Why a=2 and b=2 have same memory location? Because they are both integers and they are immutable. So, Python will not create two different objects for them. Instead, it will create one object and assign it to both a and b.

These addresses are not meaningful for anything other than checking if two variables point to the same object. For example, you can use the `is` operator to check if two variables point to the same object. For example:

In [75]:
a = 2
b = 2

print('a is b:', a is b)
print('a is not b:', a is not b)

a = [1, 2, 3]
b = [1, 2, 3]

print(id(a))
print(id(b))

print('a is b:', a is b)
print('a is not b:', a is not b)

a = [1, 2, 3]
b = a

print(id(a))
print(id(b))

print('a is b:', a is b)
print('a is not b:', a is not b)

a is b: True
a is not b: False
4416271104
4416264576
a is b: False
a is not b: True
4416136256
4416136256
a is b: True
a is not b: False

#### Type / Behavior

The built-in function `type()` returns the type of an object. For example, `type(5)` returns `<class 'int'>`. You can find a list of all Python types [here](https://docs.python.org/3/library/stdtypes.html).

Different types imply different behaviors. THe `b` object, for example, may be "asked" it it is a whole number with the `is_integer()` "funcionality" that comes with every `float` object. 

Formally, we call such type-specific functionalities **methods**. You can find a list of all Python methods [here](https://docs.python.org/3/library/stdtypes.html). For now, it suffices to kwnow that we acceess them the **dot operator** `.` on the object.

In [78]:
a = 1.0
a.is_integer()

True

For an `int` object, this `.is_integer()` check does not make sense as we already know it is `int`: We see the `AttributeError` below because the `int` type does not have the `is_integer()` method.

In [79]:
b = 1
b.is_integer()

AttributeError: 'int' object has no attribute 'is_integer'

If the object is a **string**. Strings also come with peculiar methods, such as `.upper()` and `.lower()`.

In [80]:
c = 'Hello word'
print(c.lower())
print(c.upper())

hello word
HELLO WORD

#### Value / Meaning

Almost trivially, every object also has a value to which it evaluates when referenced. We think of the value as the conceptual idea of what the 0s and 1s in the bag mean to humans. In other words, an object's value regards its semantic meaning.

For built-in data types, Python prints out an object's value as a so-called [literal](https://docs.python.org/3/reference/lexical_analysis.html#literals) : This means that we may copy and paste the value back into a code cell and create a new object with the same value.

In [81]:
a = 2
a

2

In [82]:
b = "Hello World"
b

'Hello World'